server {
    listen       ${NGINX_PORT};
    server_name  localhost;

    location / {
        root   /app;
        index  index.html;
        try_files $uri $uri/ /index.html;
    }

    location /management {
        root   /app;
        index  index.html;
        try_files $uri $uri/ /management/index.html;
    }
}
